<%= render 'layouts/nav' %>
<div class="upload-container">
  <div class="gallery-page-header">
    <h3>Create an Announcement</h3>
  </div>
  <br />
  <%= render 'form', announcement: @announcement %>
</div>
