@font-face {
  font-family: 'VersionType';
  src: font-url("versiontypepro-regular-webfont.woff") format("woff"), url("versiontypepro-regular-webfont.tff") format("truetype");
}

h1 {
  font-family: 'VersionType', sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  font-family: 'VersionType', sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #6A8645;
}

h5 {
  font-family: 'VersionType', sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #6A8645;
}
