html,
body {
  height: 100%;
  overflow-x: hidden;
}

a {
  color: #6A8645;
}

a:hover {
  color: $green-dark;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

.form-control:focus {
  border-color: $orange;
}

.btn-primary,
.btn-default {
  background-color: $green-med;
  border: none;
  color: white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: $green-dark;
}
