html,
body {
  height: 100%;
  overflow-x: hidden;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

.form-control:focus {
  border-color: $orange;
}

.btn-primary {
  background-color: $green-med;
  border: none;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: $green-dark;
}
