/*******
*Colors
*******/
$green-light: #6A8645;
$green-med: #436E50;
$green-dark: #29544A;

$orange: #CE7F4A;
$yello2: #D3BB72;

$mobile: "(max-width: 544px)";
$tablet: "(max-width: 768px)";
$desktop: "(max-width: 992px)";
$largeDesktop: "(max-width: 1200px)";
