/*******
*Colors
*******/
$green-light: #6A8645;
$green-med: #436E50;
$green-dark: #132706;
$green-background: #3E6549;

$orange: #CE7F4A;
$yello2: #D3BB72;
$beige: #E7E8B8;
$beige2: #f2f2de;

$mobile: "(max-width: 544px)";
$tablet: "(max-width: 768px)";
$desktop: "(max-width: 992px)";
$largeDesktop: "(max-width: 1200px)";
