
<div class="password">
  <%= simple_form_for(@user, url: verification_path(@user)) do |f| %>
    <%= f.input :password, label: 'New Password' %>
    <%= f.button :submit, "Save", class: "btn btn-block" %>
  <% end %>
</div>
