<div class="profilePhoto">
  <div class="profilePhoto-avatar">
    <% if @user.profile_photo %>
    <%= image_tag(@user.profile_photo.url) %>
    <% end %>
  </div>

  <%= form_for @user, url: update_user_profile_path(@user), html: { multipart: true } do |f| %>
  <%= f.file_field :profile_photo, required: true %> <br /><br />
  <%= f.submit "Create Post", class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
