<div class="grapevine-user-positions-helds">
  <% if user.positions_held.any? %>
    <ul>
      <% user.positions_held.each do |position_held| %>
        <% if current_user.admin? || current_user == user %>
          <li><%= link_to "#{position_held.name}", edit_positions_held_path(position_held) %></li>
        <% else %>
          <li><%= position_held.name %></li>
        <% end  %>
      <% end %>
    </ul>
  <% end %>
</div>