<div class="col-md-6 social-buttons-demo">
	<button class="btn btn-twitter">
		<i class="fa fa-twitter"></i>
  </button>
	<button class="btn btn-facebook">
		<i class="fa fa-facebook"></i>
	</button>
  <button class="btn btn-instagram">
		<i class="fa fa-instagram"></i>
	</button>
	<button class="btn btn-linkedin">
		<i class="fa fa-linkedin"></i>
	</button>
   <button class="btn btn-pinterest">
     <i class="fa fa-pinterest"></i>
   </button>
   <button class="btn btn-tumblr">
     <i class="fa fa-tumblr-square"></i>
   </button>
</div>
