<div class="grapevine-social-buttons">
  <% if user.twitter_handle %>
    <button class="btn">
      <i class="fa fa-twitter"></i>
    </button>
  <% end %>
  <% if user.facebook_username %>
    <button class="btn">
      <i class="fa fa-facebook"></i>
    </button>
  <% end %>
  <% if user.instagram_username %>
    <button class="btn">
      <i class="fa fa-instagram"></i>
    </button>
  <% end %>
  <% if user.linkedin_username %>
    <button class="btn">
      <i class="fa fa-linkedin"></i>
    </button>
  <% end %>
  <% if user.pinterest_name %>
    <button class="btn">
      <i class="fa fa-pinterest"></i>
    </button>
  <% end %>
  <% if user.tumblr_name %>
    <button class="btn">
      <i class="fa fa-tumblr-square"></i>
    </button>
  <% end %>
</div>
