<h1>Greenhouse (= user directory page)</h1>
<ul>
<% @users.each do |user| %>
  <li><% user.profile_photo if user.privacy_settings.profile_photo %></li>
  <li><% user.phone if user.privacy_settings.phone %></li>
  <li><% user.email if user.privacy_settings.email %></li>
<% end %>
</ul>
