<% @photos.each do | photo | %>
<div class="responsive">
  <div class="galleryimg">

      <%= link_to image_tag(photo.photo.url(:medium)), photo  %>
    </a>
  </div>
</div>
<% end %>
<div class="clearfix"></div>
