<div class="gallery-socialFeed-boxes gallery-twitter">
  <h5><%= link_to "Double H Ranch Twitter", "https://twitter.com/DoubleHRanch", target: "_blank" %></h5>
  <%= render 'social/twitter' %>
</div>
<div class="gallery-socialFeed-boxes gallery-facebook">
  <h5><%= link_to "Double H Ranch Facebook", "https://www.facebook.com/DoubleHRanchCamp/", target: "_blank" %></h5>
  <%= render 'social/facebook' %>
</div>
