<div class="gallery-socialFeed-boxes gallery-twitter">
  <h5>Double H Ranch Twitter</h5>
  <%= render 'social/twitter' %>
</div>
<div class="gallery-socialFeed-boxes gallery-facebook">
  <h5>Double H Ranch Facebook</h5>
  <%= render 'social/facebook' %>
</div>
