<%= render 'layouts/nav' %>
<div class="home">
  <div class="home-hero">
    <div class="home-hero-user">
      <div class="home-hero-userpic">
      </div>
      <div class="home-hero-username">
        <h1>Mae Beale</h1> <br />
        <button type="button" class="btn btn-secondary">Update Info</button>
      </div>
    </div>
  </div>
<%= render 'gallery' %>
