<%= render 'layouts/nav' %>

<div class="gallery-page-header">
  <h1>Editing Positions Held</h1>
</div>

<%= render 'form', positions_held: @positions_held %>

<%= link_to 'Back', positions_helds_path %>
