<div class="fb-page" 
     data-href="https://www.facebook.com/DoubleHRanchCamp"
     data-width="500" 
     data-hide-cover="false"
     data-show-facepile="false" 
     data-show-posts="true"></div>

<script>
window.fbAsyncInit = function() {
  FB.init({
    appId            : '174308256432689',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v2.9'
  });
  FB.AppEvents.logPageView();
};

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
