<h5> Write a comment </h5>
<%= form_for(@comment, url: comment_post_path(@comment.commentable_id)) do |f| %>
  <%= f.text_area :comment %>
  <br />
  <%= f.submit 'Submit', class: 'btn btn-primary btn-block'  %>
<% end %>
