.grapevine {
  &-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
  }

  &-title {
    text-align: center;
  }

  &-user {
    list-style: none;

    &-main {
      margin-bottom: 1rem;
    }

    &-name {
      margin-top: 1.5rem;
      margin-left: 1rem;
    }
  }
}
