.grapevine {
  &-container {
    background-color: white;
    width: 90%;
    padding: 1rem;
    margin: auto;
  }

  &-title {
    text-align: center;
  }

  &-user {
    list-style: none;

    &-main {
      display: flex;
      align-content: center;
      justify-content: space-between;
      flex-flow: row nowrap;
      width: 100%;

      &-details {
        flex: 1 1 45%;
        padding: 10px 20px;
      }
      
      &-photo {
        flex: 0 1 30%;
        height: 200px;

        img {
          height: 100%;
        }
      }
    }
  }
}
