.greenhouse {
  &-container {
    background-color: white;
    width: 90%;
    padding: 1rem;
  }

  &-title {
    text-align: center;
  }

  &-user {
    list-style: none;

    &-main {
      margin-bottom: 1rem;
      &-photo {
        img {
          width: 30%;
        }
      }
    }

    &-name {
      margin-top: 1.5rem;
      margin-left: 1rem;
    }

  }
}
