.home {
  background-color: #fff;

  &-hero {
    background-color: #215B33;
    background-repeat: repeat;
    background-size: 500px;
    background-image: image_url('DarkPattern.svg');
    height: 15rem;
    padding: 1rem;
    position: relative;
    margin-top: 2rem;

    &-user {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 2rem;
      left: 3rem;
    }

    &-userpic {
      height: 8rem;
      width: 8rem;
      border-radius: 0 50% 50% 50%;
      background-color: #102f1a;
    }

    &-username {
      color: #fff;
      font-size: 2rem;
      margin-left: 1rem;
      margin-top: 1rem;
      h1 {
        position: absolute;
      }
    }
  }
}
