.home {
  background-color: #fff;

  &-hero {
    background-color: #215B33;
    background-image: image_url('DarkPattern.svg');
    background-repeat: repeat;
    background-size: 500px;
    display: flex;
    align-items: center;
    height: 15rem;
    justify-content: center;
    margin-top: 2rem;
    position: relative;

    &-user {
      align-items: center;
      display: flex;
      padding-left: 3em;
      width: 100%;
    }

    &-userpic {
      background-color: #102f1a;
      border-radius: 100%;
      display: flex;
      height: 10rem;
      justify-content: center;
      overflow: hidden;
      width: 10rem;

      img {
        height: 100%;
      }
    }

    &-username {
      color: #fff;
      font-size: 2rem;
      margin-left: 1rem;
      h1 {
        position: absolute;
      }
    }
  }
}
