.preferences {
  height: 100%;
  background-color: white;

  &-stepper {
    padding: 3em 4em;
    box-shadow: 1px 1px 25px -9px rgba(0,0,0, 0.4);
    display: flex;
    justify-content: space-around;

    a {
      width: 20%;

      img {
        width: 100%;
      }

      img.active {
        filter: drop-shadow(10px 10px 30px $green-dark);
      }
    }
  }

  &-form {
    width: 100%;
    padding: 2em;

    form {
      display: flex;
      flex-flow: column;
    }
  }
}

.preferences-navigation-footer {
  margin-top: 50px;
  text-align: center;
}

.password {
  max-width: 300px;
}

.profilePhoto {
  max-width: 300px;

  &-avatar {
    border-radius: 100%;
    display: flex;
    height: 300px;
    justify-content: center;
    overflow: hidden;
    width: 300px;

    img {
      height: 100%;
    }
  }
}

@media #{$desktop} {
  .preferences {
    &-sidebar {
      padding: 3em;
    }
  }
}

@media #{$tablet} {
  .preferences {
    flex-flow: column;
    &-sidebar {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      padding: 2em 0;
      max-height: 84px;

      a {
        height: 20px;
      }

      h4 {
        margin: 0;
      }
    }

    &-form {
      align-self: center;
      padding: 1em;
    }

    .profilePhoto {
      margin: 0 auto;
    }
  }
}
