.signin {
  height: 100vh;
  padding-top: 50px;

  .signin-container {
    background-color: white;
    box-shadow: 0 2px 40px -5px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 75vw;
    margin: 0 auto;

    &-panelLeft {
      min-width: 40%;
    }

    &-panelRight {
      position: relative;

      .dialog {
        color: white;
        height: 100%;
        position: relative;
        text-align: center;
        z-index: 999;
      }

      .dialog h1 {
        margin-bottom: 30px;
      }
    }
  }

  .signin-container > div {
    padding: 3em;
  }

  .filter-img {
    background-image: url(coverphoto4.jpg);
    color: white;
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
  }

  .filter-img:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: rgba(10, 47, 8, 0.9) 100%;
  }

  .btn {
    width: 100%;
  }

  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset;
  }

}
