.grapevine-social-buttons {
    display: flex;
    flex-flow: row wrap;

  .btn{
    flex: 1 0.5 5%;
    border: none;
    line-height: 40px;
    outline: 0;
    overflow:hidden;
    position: relative;
    border-radius: 3px;
    position: relative;
    padding: 0;
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #FFF;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);

    &-twitter{
      background-color: #55ACEE;
    }

    &-facebook{
      background-color: #3B5998;
    }

    &-instagram{
      background-color: #c13584;
    }

    &-linkedin{
      background-color: #0976B4;
    }

    &-pinterest{
      background-color: #CC2127;
    }

    &-tumblr{
      background-color: #35465C;
    }

    &:hover{
      box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
    }
  }
}


@media #{$desktop} {
  .grapevine-user-main {
    justify-content: center;
  }
  .grapevine-social-buttons {
    width: 100%;

    .btn {
      flex: 1 1 0;
    }
  }
}