<nav class="mdc-toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">Logo</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
        <%= link_to_if(user_signed_in?, 'Logout', destroy_user_session_path, :method => :delete, :class => "mdc-toolbar__title") %>
    </section>
  </div>
</nav>
