<nav class="navbar navbar-toggleable-sm navbar-light bg-faded orchard-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand abs home-navlogo" href="/">
        <%= image_tag("logo") %>
    </a>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Orchard</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href='https://www.doublehranch.org/'>Double H Ranch Website</a>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link', method: 'delete' %>
            </li>
        </ul>
    </div>
</nav>
